<h3>An Error Occured While processing your request the support team working on fix it</h3>

<h5>Please Contact Us on support@hamdontech.com</h5>
<hr />

<h3>Exception Details :</h3>
<div class="alert alert-danger" >
    <h5>Exception Path</h5>
    <hr />
    <p>@ViewBag.EcxeptionPath</p>
</div>

<div class="alert alert-danger">
    <h5>Exception Message:</h5>
    <hr />
    <p>@ViewBag.EcxeptionMessage</p>
</div>

<div class="alert alert-danger">
    <hr />
    <p>@ViewBag.StackTrace</p>
</div>